*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
    --background: rgb(24, 23, 23);
    
}
body{
    min-height: 100vh;
    background-color: var(--background);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(17, 17, 17, 0.892);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
ul{
    display: flex;
    align-items: center;
    gap: 3em;
}
nav ul a{
    color: white;
    opacity: 1;
    transition: 0.2s ease-in-out;
}
nav ul a:hover{
    opacity: 1;
    background: linear-gradient(to right,rgb(83, 224, 83),rgb(59, 167, 255));
    background-clip: text;
    color: transparent;
}
.logo{
    font-size: 2em;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.logo:hover{
    opacity: 1;
}
.btn{
    padding: 0.5em 1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: white;
    color: var(--background);
}





span{
    background: linear-gradient(to right,rgb(83, 224, 83),rgb(59, 167, 255));
    background-clip: text;
    color: transparent;
    opacity: 0.7;
}
span:hover{
    opacity: 1;
}
section{
    min-height: 100vh;
    padding: 5% 15%;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
}
#home img{
    width: 20vw;
    border-radius: 50%;
    margin-top: 3em;
    box-shadow: 0 0 50px rgb(160, 219, 160);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#home img:hover{
    box-shadow: 0 0 50px rgb(131, 175, 211);
}
.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
    max-width: 800px;
}
.info-box h1{
    font-size: 5em;
    font-weight: 500;
    
}
.info-box h3{
    font-size: 2em;
    font-weight: 400;
}
.info-box p{
    opacity: 0.7;
}
.btn-box{
    display: flex;
    gap: 1em;
}
#about {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8em;
    gap: 4em;
    
}

.about-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}

.about-box h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.about-box p {
    color: white;
    line-height: 1.6;
}

.skills {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skills h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
    padding: 0;
    list-style-type: none;
}

.skills li {
    display: flex;
    align-items: center;
    color: white;
}

.skills li i {
    margin-right: 0.5em;
    font-size: 1.2em;
}
#education{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.timeline-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12% 2rem;
}
.timeline-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}
.heading{
    font-size: 2.5rem;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.heading i{
    font-size: 4rem;
}
#cb{
    flex-direction: column;
}
.content-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5em;
    padding: 2rem;
    margin: 0 2rem;
    border: 3px solid rgb(110, 110, 110);
    backdrop-filter: blur(200px);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.content-box:hover{
    
    border: 3px solid rgba(83, 224, 104, 0.734);

}
.timeline-box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-left: 5px solid rgba(59, 167, 255, 0.738);
}
.content-box h3{
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
.date{
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.content-box img {
    max-width: 150px;
    height: auto;
    border-radius: 0.5rem;
    cursor: pointer;
}
.content-text {
    flex: 1;
}
.fullscreen-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.fullscreen-image img {
    max-width: 90%;
    max-height: 90%;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#project{
    background-color: var(--background);
}
.header{
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2em;
}
.box{
    border: 3px solid rgb(110, 110, 110) ;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.box:hover{
    border: 3px solid rgba(59, 167, 255, 0.738);
}
.box p{
    opacity: 0.9;
}
.box h1{
    font-size: 2em;
}
.box img{
    min-width: 25px;
    border-radius: 0.5em;
}
.contact{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.header {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.input-group, .input-group2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: steelblue;
    background: var(--background);
    border-radius: 0.5rem;
    border: 2px solid white;
    margin-bottom: 1rem;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

textarea {
    height: 100%;
    min-height: 230px;
    resize: vertical;
}
input:hover{
    border: 3px solid rgba(83, 224, 104, 0.734);
}
textarea:hover{
    border: 3px solid rgba(59, 167, 255, 0.738);
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--background);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    
}
.footer .social a{
    font-size: 30px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    letter-spacing: 25px;
}
.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
    letter-spacing: 5px;
}